# ============================================================
# Group Manager Bot
# Author: Pravin (https://github.com/cyberpravin)
# Support: https://t.me/pravin_bio
# Channel: https://t.me/pravin_bio
# YouTube: https://www.youtube.com/@mrhacked2.0
# License: Open-source (keep credits, no resale)
# ============================================================
pyrogram==2.0.106
tgcrypto==1.2.5
motor==3.1.1
pymongo[srv]==4.6.3

